.container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 20px #2f3d70;
    border-radius: 20px;
}


.container__header {
    text-align: center;
}


@media (max-width: 767px) {
    .container {
        padding: 10px;
        margin: 50px auto;
  }
}